* {
	box-sizing: border-box;
}
*:not(input) {
	user-select: none;
}
:root {
	--color-primary: #00cc99;
	--color-accent: #9966cc;
}
body {
	font-family: sans-serif;
	overflow: hidden;
	margin: 0;
	overflow: hidden;
	padding-top: env(safe-area-inset-top, 0);
	padding-bottom: env(safe-area-inset-bottom, 0);
	background: linear-gradient(#000, #000036, #4b0082, #000);
	background-size: cover;
}
audio {
	display: none;
}
mark {
	display: block;
	position: fixed;
	top: -900px;
	right: -900px;
	border-radius: 50%;
	width: 1000px;
	aspect-ratio: 1/1;
	z-index: 2;
	box-shadow: 0 0 1000px gold;
}
#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}