* {
	box-sizing: border-box;
}
*:not(input) {
	user-select: none;
}
:root {
	--color-primary: #00cc99;
	--color-accent: #9966cc;
}
body {
	font-family: sans-serif;
	overflow: hidden;
	margin: 0;
	overflow: hidden;
	padding-top: env(safe-area-inset-top, 0);
	padding-bottom: env(safe-area-inset-bottom, 0);
	background-color: #000;
}
#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}